
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.frame-1-jwy {
  height: 108rem;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:d3a61e9a4c70398656f52d005f4ff72f69739348');
  background-color: #ffffff;

  .rectangle-1-7Sj {
    background-color: rgba(8, 19, 3, 0.4900000095);
    width: 142.4rem;
    height: 80.9rem;
    position: absolute;
    left: 26.2rem;
    top: 13.6rem;
  }
  .minecraft-gGs {
    border-radius: 3.3rem;
    width: 54.2rem;
    height: 32.5rem;
    position: absolute;
    left: 30rem;
    top: 27.8rem;
    object-fit: cover;
    vertical-align: top;
  }
  .hello-my-name-mark-im-game-developer-NvP {
    font-size: 4rem;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 39.2rem;
    position: absolute;
    left: 74.7rem;
    height: 9.7rem;
    top: 16.4rem;
    font-weight: 100;
  }
  .rectangle-5-1TZ {
    height: 67.4rem;
    position: absolute;
    left: 125.4rem;
    top: 15.7rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    background-color: #000000;
    width: 42rem;
  }
  .rectangle-6-v4j {
    top: 72.9rem;
    font-weight: 300;
    line-height: 1.2125;
    white-space: nowrap;
    height: 10.2rem;
    left: 93.3rem;
    font-family: Inter, 'Source Sans Pro';
    background-repeat: no-repeat;
    font-size: 3.2rem;
    color: #ffffff;
    border: solid 0.1rem #ffffff;
    background-size: 100% 100%;
    box-sizing: border-box;
    text-decoration-line: underline;
    position: absolute;
    background-position: center;
    background-image: url('REPLACE_IMAGE:e72f2f430e9c1b1cb31c28069059e23771d782d0');
    padding: 0 0.6rem;
    width: 27.5rem;
  }
  .rectangle-7-KMm {
    line-height: 1.2125;
    background-position: center;
    background-color: #000000;
    height: 10.2rem;
    font-weight: 300;
    white-space: nowrap;
    border: solid 0.1rem #ffffff;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:227a4431fd31e0540304155defa9cb4edada806a');
    font-size: 3.2rem;
    left: 30rem;
    top: 72.9rem;
    text-decoration-line: underline;
    width: 27.5rem;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    box-sizing: border-box;
    background-size: 100% 100%;
    position: absolute;
  }
  .rectangle-8-AtB {
    height: 10.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:9b60d948f5575affcc8faf98b710439b314ef05d');
    width: 27.5rem;
    top: 72.9rem;
    font-weight: 300;
    border: solid 0.1rem #ffffff;
    background-position: center;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    box-sizing: border-box;
    background-size: 100% 100%;
    font-size: 3.2rem;
    text-decoration-line: underline;
    left: 62.1rem;
  }
  .my-list-works--R3R {
    line-height: 1.2125;
    height: 4.4rem;
    left: 133.9rem;
    top: 17.6rem;
    font-size: 3.6rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 24.5rem;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
  }
}
